.env
node_modules
coverage
dist
data/scripts/portfolioAnalysis.json
data/scripts/portfolio.json
data/portfolioMakeupOverTime.json
data/data.json
data/simulations.json
data/pension_and_social_security.json
data/variables.csv
data/*_backup*
data/simulations/*
data/backup/
**/cache
.vscode
**/testing/**/*.json
logs
src/utils/monteCarlo/graphs
src/utils/monteCarlo/results
src/utils/monteCarlo/temp
