.env
node_modules
dist
data/scripts/portfolioAnalysis.json
data/scripts/portfolio.json
data/portfolioMakeupOverTime.json
data/data.json
data/simulations.json
data/pension_and_social_security.json
data/variables.csv
data/*_backup*
data/simulations/*
data/backup/
