.env
node_modules
coverage
dist
src/utils/io/data/scripts/portfolioAnalysis.json
src/utils/io/data/scripts/portfolio.json
src/utils/io/data/portfolioMakeupOverTime.json
src/utils/io/data/data.json
src/utils/io/data/simulations.json
src/utils/io/data/pension_and_social_security.json
src/utils/io/data/variables.csv
src/utils/io/data/*_backup*
src/utils/io/data/simulations/*
src/utils/io/data/backup/
